@media (max-width: 1024px) {
  .MuiAppBar-root {
    height: 14vh !important;
  }
}

@media (max-width: 600px) {
  .MuiAppBar-root {
    height: 18vh !important;
  }
}

.MuiToolbar-regular{
  min-height:6vh !important;
}